
.wrapper{
    padding: 10px;
    width: 350px;

    float: left;
}

table#stats{
    width: 325px;
    border-collapse: collapse;
    border: solid 1px #ccc;
    background-color: #fff;
}

table#stats td.center{
    border: solid 1px #ccc;
    padding: 5px;
    font-weight: 200;
    text-align: center;
    background-color: #fff;
}

table#stats th{
    border: solid 1px #ccc;
    padding: 5px;
    font-weight: 500;
    background-color: #fff;
}

td.left, th.left{
    text-align: left;
    border: solid 1px #ccc;
    padding: 5px;
    font-weight: 200;
    background-color: #fff;
}

.ball_icon{
    width: 35px;
    margin-top: 23px;
    margin-right: 0px;
    animation-name: spin;
    animation-duration: 1s;
    z-index: -1000
}

div.heading *{
    float: left;
    color:  #eee;
}
div.heading{
    vertical-align: middle;
    width: 300px;
}

div.player_detail{

    width:  25%;
    padding: 10px;

}

@keyframes spin {
    from {transform: translateX(300px) rotate(0deg); }
    to {transform:  translateX(0px) rotate(720deg);}
  }

div#webgl{
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1000;
}