@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

.ball_icon{
  width: 30px;
}

body{
  background-image:url('./crissXcross.png')!important;
}



div.container{
  background-color: #eee;
  width: 85%;
  padding: 0px;
}

img.tiny_image{
  width: 50px;
}

table{
  font-size: 14px;
  line-height: 0.5;

}

td.left, th{
  padding-left: 10px!important;
}

td.text-end, td.end{
  text-align: right;
}